@import "tailwindcss";

@font-face {
    font-family: 'Fontsona3';
    src: url('/medias/typos/woff/Fontsona3FES.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-fontsona3 { font-family: 'Fontsona3', sans-serif; }

@font-face {
    font-family: 'Fontsona4';
    src: url('/medias/typos/woff/Fontsona4Golden.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-fontsona4 { font-family: 'Fontsona4', sans-serif; }

@font-face {
    font-family: 'FontsonaQ';
    src: url('/medias/typos/woff/FontsonaQ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-fontsonaQ { font-family: 'FontsonaQ', sans-serif; }

.custom-selection::selection {
    background: #fbbf24; /* Couleur de fond de la sélection */
    /*color: #18181b; */    /* Couleur du texte sélectionné */
}


/* @font-face { 
    font-family: 'Fontsona1';
    src: url('/medias/typos/woff/Fontsona1PSP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-fontsona1 { font-family: 'Fontsona1', sans-serif; }

@font-face {
    font-family: 'Fontsona2';
    src: url('/medias/typos/woff/Fontsona2InnocentSin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-fontsona2 { font-family: 'Fontsona2', sans-serif; }

.font-fontsona4 { font-family: 'Fontsona4', sans-serif; }
@font-face {
    font-family: 'Fontsona5JP';
    src: url('/medias/typos/woff/Fontsona5JP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-fontsona5JP { font-family: 'Fontsona5JP', sans-serif; }

@font-face {
    font-family: 'Fontsona5Royal';
    src: url('/medias/typos/woff/Fontsona5Royal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-fontsona5Royal { font-family: 'Fontsona5Royal', sans-serif; }

*/

/*

@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    @apply h-full m-0;
  }

.zoneTop {@apply 
    fixed top-0 w-full h-[30px] z-42 bg-gradient-to-t from-slate-50 to-stone-200 shadow-xl/30;
}

.immanenceLogo {@apply 
    h-full w-auto ml-[10px] float-left;
}

.zonePong {@apply 
    bg-gradient-to-b from-amber-400 to-yellow-600 h-full;
}

.zoneTetris {@apply 
    bg-gradient-to-t from-lime-50 to-slate-200 h-full ml-auto;
}

.zoneModale {@apply 
    w-[680px] absolute z-50 mx-auto mt-[84px] shadow-xl/30 bg-gradient-to-b from-slate-50 to-stone-200 px-8 py-5;
}

.titre {@apply 
    text-[20px] font-family: 'Fontsona3', sans-serif;
}

.texte {@apply 
    text-[12px] relative top-4;
}

.zoneBouton {@apply 
    flex justify-center items-center;
}

.bouton {@apply
    bg-gradient-to-b from-amber-400 to-yellow-600 h-[30px] w-[100px] rounded-md;
}

.bouton:hover {@apply 
    bg-gradient-to-b from-amber-500 to-yellow-700;
}

.bouton:active {@apply 
    bg-gradient-to-b from-amber-600 to-yellow-800;
}

.bouton:disabled {@apply 
    bg-gray-300;
}
    
*/
